.jumbotron {
text-align: center;
background: black;
margin-top: -50px;
}
video::-webkit-media-controls {
  display: none;
}
body {
  background-color: black;
}
.words {
  color: magenta;
  font-family: chalkduster;
  font-weight: 100;
  font-size: 26px;
  margin-bottom: -12px;
  margin-top: 3px;
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #f7f, 0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1em #f0f, 0 0 1.2em #f0f;
}
audio {
  display: none;
}
#words2 {
  color: magenta;
  font-family: chalkduster;
  font-weight: 100;
  font-size: 18px;
  margin-top: -10px;
  margin-bottom: -50px;
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #ffa74d, 0 0 0.6em #ffa74d, 0 0 0.8em #ffa74d, 0 0 1em #ffa74d, 0 0 1.2em #ffa74d;
}
.category {
  border-bottom: 1px dashed magenta;
  margin-bottom: 10px;
  width: 306px;
  text-align:justify;
}

p {
  font-size: 18px;
  margin-top: 20px;
  color: hotpink;
  font-family: chalkduster;
  font-weight: 100;
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #ffa74d, 0 0 0.6em #ffa74d, 0 0 0.8em #ffa74d, 0 0 1em #ffa74d, 0 0 1.2em #ffa74d;
}

h3 {
  margin-left: 20px;
}
#wonAlert {
  font-size: 120px;
  color: #1a53ff;
  z-index: 1;
  position:absolute;
  margin-top: 80px;
  margin-left: -60px;
  display: none;
}
#loseAlert{
  font-size: 120px;
  color: #ff0000;
  z-index: 1;
  position:absolute;
  margin-top: 80px;
  margin-left: -60px;
  display: none;
}
#hangman {
  font-size: 60px;
  font-family: chalkduster;
  color: #0033cc;
  text-shadow: 0 0 0.5em #ffff00, 0 0 0.5em #ffff00, 0 0 0.5em #ffff00, 0 0 0.4em #f7f, 0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1em #f0f, 0 0 1.2em #f0f;
}
